/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --Primary-bg: linear-gradient(
    189deg,
    rgba(43, 12, 35, 1) 0%,
    rgba(5, 1, 19, 1) 100%
  );
  --primary-text: #fff;
  --swiper-bullet-inactive: #4f4a4a;
  --swiper-bullet-active: #ffffff;
  --banner-title-color: #ffffff;
  --banner-heading-color: #d7d5d5;
  --banner-gradient-start: rgba(43, 12, 35, 0);
  --banner-gradient-end: rgba(5, 1, 19, 1);
}
