.glass_tab_bar{
    --ion-tab-bar-background:#07010a;
    --ion-tab-bar-background-focused:black
    --ion-tab-bar-border-color:#110814;
    --ion-tab-bar-color-selected:white;
    width: 100%;
    height: 10%;
 

}